#CenterElements
{
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}
#CenterTitle
{
	font-size: 48px;
	font-family: 'Permanent Marker', cursive;
}
body 
{
	color: #93a1a1;
	background-color: #002b36;
	margin: 0;
	padding: 0;
}

ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 30px;
	border: dotted;
	font-family: 'Permanent Marker', cursive;
}

li
{
	display: inline-block;
	margin: 15px;
}