#CenterElements
{
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}
#CenterTitle
{
	font-size: 48px;
	font-family: 'Permanent Marker', cursive;
}

#Logo
{
	font-size: 35px;
	font-family: 'Permanent Marker', cursive;
	margin-top: 5px;
	margin-left: 10px;
	padding: 15px;
	text-decoration: none;
	color: white;
}

body 
{
	color: #93a1a1;
	background-color: #002b36;
	margin: 0;
	padding: 0;
}