@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* 
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #24252A;
}

li, a, button 
{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 10px;
	color: #edf0f1;
	text-decoration: none;
}

div, span
{
	position: absolute;
	display: block;
	background: #fff;
	animation: animate 12s ease-in-out infinite;
}

@keyframe animate
{
	0%,100%
	{
		transform: rotate(0deg);
	}
	50%
	{
		transform: rotate(360deg);
	}
}
div, span:nth-child(even)
{
	background: #2f2f2f;
}
div, span:nth-child(even):before
{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
	background: #fff;
	transform: translateY(-50%);
}
div, span:nth-child(even):after
{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	background: #fff;
	transform: translateY(-50%);
}

header 
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10%;
}

nav 
{
	order: 1;
}

.logo 
{
	cursor: pointer;
}

.nav__links 
{
	display: none;
}

.nav__links, li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links, li, a 
{
	transition: all 0.3s ease 0s;
}

.nav__links, li, a:hover 
{
	color: #0088a9
}

.cta
{
	order: 2;
}

button {
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(0,136,169,0.8);
}
