@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway&display=swap");

body
{
    background-color: #292929;
    color: #ffffff;
    margin: 0;
}

#BarTitle
{
    color: #93a1a1;
    font-size: 28px;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    cursor: pointer;
}